body {
  background-color: white;
  font-family: 'Assistant', sans-serif;
  color: darkblue;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: darkblue;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: darkblue !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0px;
}

.btn-login {
  background-color: #5858ee;
  color: white;
}

.btn-login:hover {
  background-color: #6767ec;
  color: white;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header.jpg");
  background-size: cover;
}

header h1, header p {
  color: #ffffff;
}

header h1 {
  font-family: 'Playfair Display',serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn {
  background-color: orange;
  color: white;
  font-size: 22px;
}

header .btn:hover {
  background-color: lightsalmon;
  color: white;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: white;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #3C949A;
  margin-top: -50px;
  margin-bottom: -250px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: white;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: lightgrey;
  color: white;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-category {
  font-size: 18px;
  color: white;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: white;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: orange;
  color: white;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: lightsalmon;
  color: white;
}

.section-networks {
  background-color: white;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display',serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
  min-height: 160px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: orange;
  color: white;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: lightsalmon;
  color: white;
}

.section-testimonial-content .btn-need-help {
  background-color: #F2F2F2;
  color: #C3C3C3;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #FAFAFA;
  color: #C3C3C3;
}

.section-footer a {
  color: darkblue;
}

.section-footer .container-fluid {
  color: gray;
}

.section-details-header {
  min-height: 310px;
  background-color: lightgrey;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: darkblue;
}

.card-details {
  padding: 30px;
  border-radius: 11px;
}

.card-details h1 {
  font-size: 26px;
}

.card-details h2 {
  font-size: 20px;
}

.card-details p {
  font-size: 18px;
  color: grey;
}

.card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.features {
  margin-top: 20px;
}

.features h3 {
  font-size: 18px;
  color: darkblue;
  margin-bottom: 0;
}

.features p {
  margin-bottom: 0;
}

.features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}

.gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.gallery .xzoom-container .xactive {
  border: 4px solid darkblue;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.members .members-image {
  width: 40px;
  height: 40px;
}

.trip-information th {
  font-weight: normal;
}

.trip-information td {
  color: grey;
}

.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: orange;
  color: white;
  border-radius: 0;
}

.btn-join-now:hover {
  background-color: lightsalmon;
  color: white;
}
/*# sourceMappingURL=main.css.map */